[commands]
# What kind of upgrade to perform:
# default                            = all available upgrades
# security                           = only the security upgrades
upgrade_type = {{ 'security' if auto_updates_download_only else 'default' }}

# Whether a message should be emitted when updates are available,
# were downloaded, or applied.
random_sleep = 300

# Maximum time in seconds to wait until the system is on-line and able to
# connect to remote repositories.
network_online_timeout = 60

# To just receive updates use dnf-automatic-notifyonly.timer

# Whether updates should be downloaded when they are available.
download_updates = {{ auto_updates_enabled | lower }}

# Whether updates should be applied when they are available.
apply_updates = {{ auto_updates_apply_updates | lower }}

[emitters]
# Name to use for this system in messages that are emitted.
system_name = {{ ansible_hostname }}

# How to send messages.  Valid options are stdio, email.  If
# emit_via includes stdio, messages will be sent to stdout; this is useful
# to have cron send the messages.  If emit_via includes email, this
# program will send email itself according to the configured options.
emit_via = {{ 'email' if auto_updates_email_to else 'stdio' }}

[email]
# The address to send email messages from.
email_from = root@{{ ansible_fqdn }}

# List of addresses to send messages to.
email_to = {{ auto_updates_email_to | default('root') }}

# Name of the host to connect to to send email messages.
email_host = localhost

[base]
# The debugging level for dnf-automatic
# debuglevel = 1
